/* Author web: Mariana Carballo*/
/* font converted using font-converter.net. thank you! */

@font-face {
  font-family: 'Poppins-Bold';
  src: url('fonts/Poppins-Bold.woff2') format('woff2'), /* Modern Browsers */
      url('fonts/Poppins-Bold.woff') format('woff'), /* Modern Browsers */
      url('fonts/Poppins-Bold.eot'), /* IE9 Compat Modes */
      url('fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('fonts/Poppins-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
      url('fonts/Poppins-Bold.svg') format('svg'), /* Legacy iOS */
      url('fonts/Poppins-Bold.otf') format('opentype'), /* Open Type Font */
    }

@font-face {
  font-family: 'Poppins-Regular';
  src:  url('fonts/Poppins-Regular.woff2') format('woff2'), /* Modern Browsers */
      url('fonts/Poppins-Regular.woff') format('woff'), /* Modern Browsers */
      url('fonts/Poppins-Regular.eot'), /* IE9 Compat Modes */
      url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('fonts/Poppins-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('fonts/Poppins-Regular.svg') format('svg'), /* Legacy iOS */
      url('fonts/Poppins-Regular.otf') format('opentype'), /* Open Type Font */   
  }

@font-face {
  font-family: 'Poppins-Light';
  src: url('fonts/Poppins-Light.woff2') format('woff2'), /* Modern Browsers */
     url('fonts/Poppins-Light.woff') format('woff'), /* Modern Browsers */
     url('fonts/Poppins-Light.eot'), /* IE9 Compat Modes */     
     url('fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/Poppins-Light.ttf') format('truetype'), /* Safari, Android, iOS */    
     url('fonts/Poppins-Light.svg') format('svg'), /* Legacy iOS */
     url('fonts/Poppins-Light.otf') format('opentype'), /* Open Type Font */
 }

 @font-face {
  font-family: 'Poppins-Medium';
  src: url('fonts/Poppins-Medium.woff2') format('woff2'), /* Modern Browsers */
      url('fonts/Poppins-Medium.woff') format('woff'), /* Modern Browsers */
      url('fonts/Poppins-Medium.eo't), /* IE9 Compat Modes */
      url('fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('fonts/Poppins-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
      url('fonts/Poppins-Medium.svg') format('svg'), /* Legacy iOS */
      url('fonts/Poppins-Medium.otf') format('opentype'), /* Open Type Font */
 }

 @font-face {
  font-family: 'Poppins-SemiBold';
  src: url('fonts/Poppins-SemiBold.woff2') format('woff2'), /* Modern Browsers */
      url('fonts/Poppins-SemiBold.woff') format('woff'), /* Modern Browsers */
      url('fonts/Poppins-SemiBold.eot'), /* IE9 Compat Modes */
      url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('fonts/Poppins-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
      url('fonts/Poppins-SemiBold.svg') format('svg'), /* Legacy iOS */
      url('fonts/Poppins-SemiBold.otf') format('opentype'), /* Open Type Font */
}


*{margin: 0;padding: 0;}

/*html { font-family: "Poppins-Light"!important;}*/

body{/*font-family:"Poppins-Light"!important, "Poppins-Regular"!important, "Helvetica"!important;*/
 overflow-x:hidden !important;
font-size:1.2rem; background-color: #ffffff;
 color: #333333 !important; 
height:auto;}

body h1 {font-family:"Poppins-Bold"!important; font-size: 4.5rem; font-weight: 400; text-align:center; }
body h2 {font-family:"Poppins-Regular"!important; font-size: 2.3rem;  font-weight: 600;  color: #333333 !important;}
body h3 {font-family:"Poppins-Regular"!important; font-size: 2rem;  font-weight: 600;  color: #333333 !important; }
body h4 {font-family:"Poppins-Regular"!important; font-size: 1.7rem;  font-weight: 600; color: #333333 !important; }
body h5 {font-family:"Poppins-Regular"!important; font-size: 1.4rem;  font-weight: 700; color:#319FAD !important; }
body h6 {font-family:"Poppins-Regular"!important; font-size: 1.3rem; color: #333333;}
body p {font-family:"Poppins-Light"!important; font-size: 1.2rem; text-align: left; }
body .row { padding-bottom: 1rem; padding-top: 1rem;}

.text-center { font-family:"poppins-regular"!important; font-size: 2.3rem;  
font-weight: 600;  color: #333333 !important; text-align: center!important;}

.title::after{
  content: '';
  background: linear-gradient(90deg, rgba(241,255,0,1) 0%, rgba(241,255,0,0.17690826330532217) 100%);
  height: 4px; width: 60px; margin-left: auto; margin-right: auto; margin-bottom:1rem;
  display: block;  transform: translateY(9px);}
/*varios generarales arriba */


/* Logo y barra de nav */
.navbar-brand img{height: 3rem; }
.navbar-nav{margin-right: 3rem; font-family:"Poppins-Bold"!important;}
.navbar-nav li{padding: 0 1rem; font-family:"Poppins-Bold"!important; font-size:1.5rem; font-weight: 600;}
.navbar-nav .nav-item .nav-link{color: #ff6666 !important; font-family:"Poppins-Bold"!important; font-size:1.5rem;letter-spacing: 0.07em; font-weight: 600; float: right; text-align: left;}
.navbar-nav .nav-item .nav-link:hover{color: #FFD147 !important; font-family:"Poppins-Bold"!important; }
.fa-bars{color: #FFD147 !important; font-size: 25px !important;}
.navbar-toggler{outline: none !important;}

#nav-bar{position: sticky;top: 0;z-index: 10; }

.navbar{background-color:#fff;}

/* --------- Banner ---------- */
.banner{ padding-bottom: 0.8rem;
}

/* -----------   sobre mí -------------*/
#about{background-color: #f8f9fa;  padding-bottom: 3rem; padding-top: 2.5rem; }
.about-title{font-size: 1.6em; margin-top: 8%; font-weight: 600;}
.about{padding-top: 2%;}
.ani{padding-top: 3%; }

/* ---------- Servicios --------- */
#services{font-family:"Poppins-Light"!important; background-color: #ffffff;  padding-bottom: 3rem; padding-top: 2.5rem;}
.service-title { text-align:center; font-size: 1.2rem; padding-top:1.4rem; font-weight:400; padding-bottom: 1.4rem; }

.service-img { display: block; height: auto; width: 90%; padding-top:1rem;  padding-right: 2%; padding-left: 2%; 
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1); 
  transition: transform all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms ;
  -ms-transition: all 500ms ;
  -o-transition: all 500ms ;  }

.service-img:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1); }

.title-serv {font-size: 1.4rem; font-weight: 700; }



   /*forma de trabajo */

.service-num { 
  display: block;
  height: auto;
  margin-left: 25%;
  width: 100%;  
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out; }
.service-num:hover {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.zoom{ /* Aumentamos la anchura y altura durante 2 segundos */
       transform: scale(0.9);
  -ms-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9); 
  transition: transform all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms ;
  -ms-transition: all 500ms ;
  -o-transition: all 500ms ; 
    }
.zoom:hover {/* tranformamos el elemento al pasar el mouse por encima al doble de su tamaño con scale(2). */
         transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);     /* Opera */
    }


#services a { 
 background: #319fad;
  border: 0;
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
  box-shadow: none;
  transition: 0.4s;
  cursor: pointer; }

#services a: hover{  background: #475264;}

.acontac-title{ text-align:center; padding-bottom: 1.9rem;
    padding-top: 1.5rem; }


/* ------- blog -----*/
#blog{background-color: #ffffff;  padding-bottom: 3rem; padding-top: 2.5rem; }

.blog-title{ margin-top: 8%; }

 /* .owl-prev {left:-35px; }
  .owl-next {right:-35px;}*/
 #blog  .owl-prev, .owl-next{margin-top:5%;}
 #blog .owl-theme .owl-prev span, .owl-next span {font-size: 60px; color:#319FAD;}
  .owl-theme .owl-nav: hover {background-color: transparent; border-radius: none !important; }

.card-img-top{ width:100% !important; }

/*fin*/


/*clientes*/
#clients {background-color: #ffffff; padding-bottom: 1rem; padding-top: 1rem; }

.slick-slide { margin:15px 20px; padding-top: 1.5rem; padding-bottom: 1.4rem; }

.slick-slide img {width: 100%; }
/*fin clientes*/

/* -----------   contacto -------------*/
#contact {background-image: url('../img/pie1.png');
    background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
    width: 100%;
    height: auto;
   padding-bottom: 3rem; 
   padding-top: 3rem; }

.contact-title { text-align:left; 
  font-size: 1.2rem; 
  padding-top:1rem; font-weight:400; }

#sendmessage .alert .alert-primary { font-family: "Poppins-Regular"!important;
    color: #fff !important;
    background-color: #319fad!important;
    border-color: #319fad!important;
    position: relative !important;
    padding: 0.75rem 1.25rem !important;
    margin-bottom: 1rem !important;
    border: 1px solid transparent !important;
    border-radius: 0.35rem !important;
}
#send-message .alert .alert-primary {}

#contact .form button[type="submit"] {
   text-decoration: none;
    font-family: "Poppins-Light"!important;
    background: #319fad;
    border: 0;
    border-radius: 5px;
    padding: 10px 30px;
    color: #fff;
    box-shadow: none;
    transition: 0.4s;
    cursor: pointer;
  
}
#contact .form button[type="submit"]:hover {
  transform: scale(1);
    background: #475264;
}

#contact .form-group label, input {font-family:"Poppins-Light"!important;
    font-size:18px;  
    display: inline-block;    
    color: #333;}

#contact .form-group label {margin-bottom: .3rem; margin-left:.3rem;}
#contact .form-group input {border-radius: 0.37rem;}

/*news*/
.ok {font-family: "Poppins-Medium"!important;
    font-size:20px;
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color:#319fad;
    color: #fff;}

.bad {text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #475264;
    color: #fff;}

.form-group .btn-success {  
  text-decoration: none;
  font-family:"Poppins-Light"!important;
  background: #319fad;
  border: 0;
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
  box-shadow: none;
  transition: 0.4s;
  cursor: pointer;}

.form-group .btn-success:hover{ 
   background: #475264;}


/*-------- Social Media icons ---------- */
/*#social p{font-family:"Poppins-Light"!important; font-weight: 600; margin-top: 1.2rem; }*/
.social-icons{ padding-top:1rem; text-align: center; }
.social-icons .svg-icons img{width:20%; transition: transform .5s; margin-right: 1.4rem;}
.social-icons .svg-icons img:hover{transform: scale(1.3);}

/* ----- Footer ------*/
#pie{background-color:#fff;}

/*-----copyright------*/
.copyright { font-family:"Poppins-Light"!important; text-align:center; font-size: 14px; color:#333333; }
.copyright a{ font-family:"Poppins-Light"!important; text-decoration: none;color: #333333; font-size: 14px;}
.copyright a:hover{text-decoration: none;color: #319FAD; }
.footer-box a{font-family:"Poppins-Light"!important; text-decoration: none;color:#ffffff;}
.footer-box a:hover{text-decoration: none;color:#319FAD;}



